.Scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;

  & > * {
    padding: 1rem 2rem;
    background-color: skyblue;
    box-shadow: 0.3rem 0.3rem 1.5rem rgba(#000, 0.4);
    border-radius: 3px;
    min-width: 16rem;
    display: flex;
    justify-content: space-between;
  }
  span {
    font-weight: 400;
  }
  @media only screen and (min-width: 500px) and (max-height: 420px) {
    grid-column: col-start 1 / col-end 1;
    grid-row: row-start 2 / row-end 2;
    flex-direction: column;
    row-gap: 2rem;
  }
}
