.Winner {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  width: 100%;
  transition: all 0.6s;
  text-align: center;

  @media only screen and (min-width: 500px) and (max-height: 420px) {
    grid-column: col-start 2 / col-end 2;
    grid-row: row-start 1 / row-end -1;
    margin-left: 2rem;
  }
}

.Hidden {
  opacity: 0;
}
